*{
    margin: 0;
}
.main{
    margin-top: 50px;
    width: 100%;
    height: auto;
    background-color: white;
    margin-bottom: 50px;
    padding-bottom: 15%;
    overflow:hidden;
}

.submain{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-left: 10;
    height: auto;
}

.kiri{
    width: 40%;
    height: 400px;
    float: left;
    margin-left: 10%;
    
}
.gambarutama{
    width: 100%;
    height: 400px;
    border: 2px solid #ccc;
}
.subgambar1{
    margin-top:10px;
    width:33%;
    height: 150px;
    float: left;
    text-align: center;
    border: 2px solid black;
    margin-right: 0.5%;
}
.subgambar2{
    margin-top:10px;
    width:33%;
    height: 150px;
    float: left;      
    text-align: center;
    border: 2px solid #ccc;
    margin-right: 0.5%;
}
.subgambar3{
    margin-top:10px;
    width:33%;
    height: 150px;
    float: left;   
    text-align: center;  
    border: 2px solid #ccc;

}

.subgambar1:hover{
    cursor: pointer;
}
.subgambar2:hover{
    cursor: pointer;
}
.subgambar3:hover{
    cursor: pointer;
}

.kanans{
    float: left;
    width: 40%;
    height: auto;
    overflow: hidden;
    background-color: white;
    padding-left: 5%;
}
.btnsize1:hover{
    cursor: pointer;
}
.btnsize2:hover{
    cursor: pointer;
}
.btnsize3:hover{
    cursor: pointer;
}
.btnsize4:hover{
    cursor: pointer;
    
}
.btnsize5:hover{
    cursor: pointer;
}
.btnsize6:hover{
    cursor: pointer;
}
.btnclr1:hover{
    cursor: pointer;
}
.btnclr2:hover{
    cursor: pointer;
}


img{
    width:100%;
    object-fit: contain;
    height: 100%;
    object-position: center center;
}
.rating{
    width: 100%;
    background-color: white;
}
.ratingtiapprofile{
    width: 100%;
    height: auto;
    background-color: white;
    padding-top: 20px;
    padding-left: 20px;
}
.profilepicture{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: rgb(245, 245, 245);
    float: left;
    margin-bottom: 10px;
}
.profilename{
    margin-left: 20px;
    float: left;
}
.verifiedbuyer{
    color: rgb(45, 175, 45);
    margin-left: 10px;
    float: left;
}
.country{
    margin-left: 20px;
    color: #ccc;
}
#star{
    width:120px;
    margin-bottom:10px;
    
}
#comment{
    width: 90%;
    height: 80px;
    padding: 1%;
    margin-left: 5%;
    border-radius: 10px;
    border: 5px 70% gray;
    outline: 5px 70% gray;
    resize: none;
}
.review{
    width: 70%;
    
    margin-left: 15%;
}
.zoom{
    border: 3px solid black;
    width: 100px;
    height: 100px;
    position: fixed;
    /* display: none; */
    z-index: 1;
    display: none;
}
.zoomArea {
    width:200px;
    height:200px;
    overflow:hidden;
    width: 100%;
    height: 400px;
    border: 2px solid #ccc;
}
.zoomArea:hover{
    cursor: zoom-in;
}
.zoomArea > img {
  width:100%;
  height:100%;
}
.addtochart{
    width: 70%;
    height: 50px;
    background-color: black;
    color: white;
    border-radius: 30px;
    padding-top: 15px;
    text-align: center;
    transition: 0.5s;
    
}
.addtochart2{
    width: 70%;
    height: 50px;
    background-color: black;
    color: white;
    border-radius: 30px;
    padding-top: 15px;
    text-align: center;
    transition: 0.5s;
    opacity: 50%;
}
.addtowishlist{
    width: 70%;
    height: 50px;
    background-color: white;
    color: black;
    border-radius: 30px;
    border: 3px solid black;
    padding-top: 10px;
    text-align: center;
    transition: 0.5s;
    
}
.addtochart:hover{
    cursor: pointer;
    background-color:white ;
    color: black;
    box-shadow: 0 0 50px #ccc;
}
.addtowishlist:hover{
    cursor: pointer;
    background-color:black ;
    color: white;
    box-shadow: 0 0 50px rgb(48, 48, 48);
}
@media screen and (max-width:500px){
    .kiri{
        width: 80%;
    }
    .kanans{
        width: 80%;
        margin-left: 10%;
    }
}