@font-face {
    font-family: "archivo";
    src: url("../font/Archivo_Narrow/ArchivoNarrow-Regular.ttf");
}
@font-face {
    font-family: "archivo-italic-bold";
    src: url("../font/Archivo_Narrow/ArchivoNarrow-BoldItalic.ttf");
}
@font-face {
    font-family: "archivo-bold";
    src: url("../font/Archivo_Narrow/ArchivoNarrow-Bold.ttf");
}
@font-face {
    font-family: "archivo-italic";
    src: url("../font/Archivo_Narrow/ArchivoNarrow-Italic.ttf");
}
*{
    margin: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: "archivo";
    letter-spacing: 1px;
}
.container{
    width: 100%;
    height: auto;
}
.navbar{
    height: 130px;
    width: 100%;
}
.navbar .top{
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
}
.search{
    margin-top: 10px;
    width: 33%;
}
.searchicon{
    width: 45px;
    height: 45px;
    margin-left: 10%;
    float: left;
    margin-top: 5px;
}
.searchbar{
    float: left;
    margin-top: 18px;
    width: 5%;
}
.searchbar input[type=text]{
    font-size: 12pt;
    border: none;
    transition: 0.7s;
}
.searchbar input[type=text]:focus{
    font-size: 12pt;
    border-style: none;
    outline: none;
    border-bottom: 3px solid gray;
}
.logo{
    width: 33%;
    margin-left: 12%;
}
.logo a{
    color: black;
}
.logoicon{
    float: left;
}
.logotext{
    float: left;
    font-size: 25pt;
    font-weight: bolder;
    margin-top: 20px;
    margin-left: 10px;
}
.shop{
    width: 33%;
    margin-top: 20px;
}
.shop a{
    display: block;
}
.shopicon{
    width: 30px;
    height: 30px;
    float: right;
    margin-right: 20px;
    margin-top: 2%;
}
.loginicon{
    width: 30px;
    height: 30px;
    float: right;
    margin-right: 50px;
    margin-top: 2%;
}
.navbar .bottom{
    height: 50px;
    width: 100%;
    background-color: #e1e1e1;
    display: flex;
    justify-content: center;
}
.nav-item{
    width: 100px;
}
.bottom a{
    display: block;
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    border-bottom: black;
    height: 50px;
    transition: 0.5s;
    font-size: 13pt;
}
.bottom a:hover{
    border-bottom: 5px solid black;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 320px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-wrap{
    display: block;
    float: none;
    width: 320px;
    z-index: 1;

}
.dropdown-wrap a{
    font-size: 10pt;
    float: left;
    width: 160px;
    color: black;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {
    background-color: #ddd;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.jumbotron{
    width: 100%;
    height: 500px;
    background-color: grey;
    font-size: 25pt;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url("../images/jumbo1.jpg");
    background-size: cover;
    position: relative;
}
.jumbotron .left{
    float: left;
    margin-left: 20px;
}
.jumbotron .right{
    float: right;
    margin-right: 20px;
}
.jumbotron .shopnow{
    width: 200px;
    height: 70px;
    background-color: black;
    opacity: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 16pt;
    font-weight: bolder;
    color: white;
    margin-left: auto;
    margin-right: auto;
    font-family: url(font/Archivo_Narrow/ArchivoNarrow-MediumItalic.ttf);
}
.jumbo-wrap .caption{
    font-size: 50pt;
    font-weight: bolder;
    color: white;
    padding-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
    font-family: sans-serif;
}
.jumbotron a{
    text-decoration: none;
}
.jumbotron .shopnow:hover{
    cursor: pointer;
    opacity: 40%;
}
.categories{
    width: 100%;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
}
.cate-wrap{
    margin-top: 10%;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
}

.category{
    width: 27%;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.category .text{
    font-size: 35pt;    
    font-family: archivo-italic-bold;
    color: white;
    opacity: 80%;
    margin-bottom: 30px;
}
.category .button{
    width: 120px;
    height: 40px;
    background-color: black;
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    opacity: 80%;
    margin-left: auto;
    margin-right: auto;
    transition: 0.4s;
}
.category .button:hover{
    background-color: green;
    cursor: pointer;
    opacity: 70%;
}
.category.a{
    background-image: url("../images/catecasual.jpg");
    background-size: cover;
}
.category.b{
    background-image: url("../images/catesport.jpeg");
    background-size: cover;
}
.category.c{
    background-image: url("../images/cateformal.jpg");
    background-size: cover;
}
.showcase{
    width: 90.5%;
    height: 450px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}
.showcase .left{
    width: 50%;
    height: 100%;
    background-color: gray;
    float: left;
    background-image: url("../images/catecasual.jpg");
    background-size: cover;
}
.showcase .right{
    padding: 50px;
    width: 50%;
    height: 100%;
    float: left;
    text-align: center;
}
.showcase .right .title{
    font-size: 36pt;
    font-family: archivo-italic-bold;
    margin-top: 16%;
}
.showcase .right .button{
    margin-top: 2%;
    width: 120px;
    height: 50px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
}
.showcase .right .button:hover{
    background-color: green;
    opacity: 80%;
    cursor: pointer;
}
footer{
    width: 100%;
    height: 300px;
    background-color: #222222;
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
}
footer .footer-cont{
    display: flex;
    width: 20%;
    flex-direction: column;
    margin-left: 2%;
    margin-top: 2%;
    float: left;
}
.footer-cont .title{
    font-size: 15pt;
    font-weight: bold;
    margin-top: 1%;
    color: white;
    margin-bottom: 1%;
    font-family: archivo-italic;
}
.footer-cont p{
    margin-top: 1%;
    margin-bottom: 1%;
    color: lightgrey;
}
.footer-cont a{
    text-decoration: none;
    color: lightgrey;
}
.footer-cont a:hover{
    color: grey;
}
.account{
    width: 250px;
    height: 400px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid blue;
    border-radius: 10px;
}
.account .name{
    font-weight: bold;
}
.account .email{
    font-size: 10pt;
}
.account hr{
    width: 80%;
    background-color: blue;
}
.container2{
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}
.container2 .title{
    font-size: 30pt;
    font-family: archivo-bold;
    margin-top: 40px;
    margin-bottom: 40px;
}
.container2 .wrap{
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 10px;
}
.container2 .wrap .accountinfo{
    font-family: archivo-bold;
    font-size: 15pt;
    margin-bottom: 5px;
}
.container2 .wrap input[type=text]{
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: 1px solid gray;
    padding-left: 15px;
    font-size: 13pt;
}
.container .wrap input[type=submit]{
    margin-top: 20px;
    width: 100%;
    height: 60px;
    background-color: black;
    border: none;
    border-radius: 30px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16pt;
}
.container .wrap input[type=submit]:hover{
    opacity: 70%;
    cursor: pointer;
}
